<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
              <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>

              <!-- Code Produit -->
              <div class="text-sm text-500">Code: <span class="text-primary">{{ product.code }}</span></div>

              <!-- Statut d'inventaire -->
              <div class="text-sm mt-1">
                Statut :
                <span [ngClass]="{
                        'text-green-500': product.inventoryStatus === 'INSTOCK',
                        'text-orange-500': product.inventoryStatus === 'LOWSTOCK',
                        'text-red-500': product.inventoryStatus === 'OUTOFSTOCK'
                    }">
                        {{ product.inventoryStatus }}
                    </span>
              </div>

              <!-- Quantité en stock -->
              <div class="text-sm">Stock: <b>{{ product.quantity }}</b> unités</div>

              <!-- Évaluation en étoiles -->
              <div class="mt-2">
                <p-rating [(ngModel)]="product.rating" readonly="true" cancel="false"></p-rating>
              </div>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
