<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" />

<p-dataView
  #dv
  [value]="products().content"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="totalRecords()"
  [lazy]="true"
  (onPage)="onPageChange($event)"
>
  <ng-template pTemplate="header">
    <div class="form-field flex align-items-center gap-2">
      <label for="category">Catégorie</label>
      <p-dropdown
        [options]="categories"
        [(ngModel)]="category"
        (onChange)="onCategoryChange($event)"
        placeholder="Choisir une catégorie"
        appendTo="body"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="list" let-products>
    @for (product of products; track product) {
      <app-custom-product-item
        [product]="product"
        (onUpdate)="onUpdate($event)"
        (onDelete)="onDelete($event)"
      />

    }
  </ng-template>
</p-dataView>

<!-- ✅ Dialog for create/edit -->
<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Ajout/Edition produit"
>
  <app-product-form
    [product]="editedProduct()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
  />
</p-dialog>
